<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Transactions</title>
</head>

<body>

<div class="container">

    <h1>Transactions</h1>

    <table border="1" style="text-align: center;">

        <tr>
<!--            <th>Transaction Id</th>-->
            <th>Amount</th>
        </tr>
        <tr th:each="transaction: ${transactions}">
<!--            <td th:utext="${transaction.id}"></td>-->
            <td th:utext="${transaction.amount}"></td>
        </tr>
    </table>
</div>
</body>
</html>